<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777013453129-51o8shk83nmvusb045lkhjpcm1dca7qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777013453129-51o8shk83nmvusb045lkhjpcm1dca7qb</string>
	<key>API_KEY</key>
	<string>AIzaSyBgBjLPhn2S1ztzApTyV0SCarv1wUPBlrM</string>
	<key>GCM_SENDER_ID</key>
	<string>777013453129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>App.example.WhereGoWithoutSB</string>
	<key>PROJECT_ID</key>
	<string>kolobok-4399d</string>
	<key>STORAGE_BUCKET</key>
	<string>kolobok-4399d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777013453129:ios:3973fd6c8c53e193543a98</string>
	<key>DATABASE_URL</key>
	<string>https://kolobok-4399d.firebaseio.com</string>
</dict>
</plist>